<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

        /* base style */
        * {
            margin: 0;
            font-family: "Quicksand";
            color: #333;
        }

        .chat-groups-users {
            max-width: 400px;
            margin-top: 100px;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .chat-groups-head h1 {
            font-size: 20px;
            color: #f1356d;
            margin-bottom: 20px;
        }

        .chat-groups h2, .chat-users h2 {
            font-size: 20px;
            color: #f1356d;
            margin-bottom: 5px;
        }

        .chat-groups, .chat-users {
            margin-bottom: 20px;
        }

        .chat-groups .add-user {
            color: green;
        }

        .chat-groups ul {
            width: 50%;
            margin-left: 25%;
        }

        .chat-groups a, .chat-users a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="chat-groups-users">
        <div class="chat-groups-head">
            <h1>Welcome to the Admin Page</h1></br>
            <h1>Chose a Group or a User to update</h1></br>
        </div>
        
        <div class="chat-groups">
            <h2>Chat Groups</h2>
            <div>
                <% chatGroups.forEach(group => { %>
                    <div class="js-group" data-group-id="<%= group.id %>">
                        <a href="#" data-group-id="<%= group.id %>"><%= group.desc %></a>
                    </div>
                <% }); %>
                </div>
                <div class="js-add-group add-group">
                    <a href="#">+</a>
                </div>
        </div>
        
        <div class="chat-users">
            <h2>Users</h2>
            <div>
                <% usersData.forEach(user => { %>
                    <div class="js-user" data-user-username="<%= user.username %>">
                        <a href="#" data-user-username="<%= user.username %>"><%= user.username %></a>
                    </div>
                <% }); %>
            </div>
            <div class="js-add-user add-user">
                <a href="#">+</a>
            </div>
        </div>
    </div>
    <script>
        const userList = document.querySelectorAll('.js-user');
        const groupList = document.querySelectorAll('.js-group');

        userList.forEach(user => {
            user.addEventListener('click', (event) => {
                event.preventDefault();
    
                const userIdToUpdate = user.getAttribute('data-user-username');
                localStorage.setItem('userToUpdate', userIdToUpdate);

                window.location.href = '/updatePassword';
            });
        });

        groupList.forEach(group => {
            group.addEventListener('click', (event) => {
                event.preventDefault();
    
                const groupToUpdate = group.getAttribute('data-group-id');
                localStorage.setItem('groupIdToUpdate', groupToUpdate);

                window.location.href = '/updateGroup';
            });
        });
    </script>
</body>
</html>